absl-py
astunparse
cachetools
certifi
charset-normalizer
click
colorama
Flask
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
gunicorn
h5py
idna
itsdangerous
jax
Jinja2
keras
keras-nightly
Keras-Preprocessing
libclang
Markdown
MarkupSafe
numpy
oauthlib
opt-einsum
packaging
Pillow
protobuf
pyasn1
pyasn1-modules
pyparsing
requests
requests-oauthlib
rsa
scipy
six
tb-nightly==2.11.0a20221109
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
tf-estimator-nightly
tf-nightly
tf_nightly_intel
typing_extensions
urllib3
Werkzeug
wrapt
