{% extends "layout.html" %}
{% block body %}

    <!--Main Part-->
    <div id="about_card">
        <div class="container">
            <div class="card">
                <div class="content">
                    <div class="imgBx">
                        <img src="/images/about.jpg" alt="">
                    </div>
                    <div class="contentBx">
                        <h4>Your Name</h4>
                        <h5>Title</h5>
                    </div>
                    <div class="sci">
                        <a href="#"><i class="fa-brands fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa-brands fa-youtube" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa-brands fa-github" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <div class="imgBx">
                        <img src="/images/about.jpg" alt="">
                    </div>
                    <div class="contentBx">
                        <h4>Your Name</h4>
                        <h5>Title</h5>
                    </div>
                    <div class="sci">
                        <a href="#"><i class="fa-brands fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa-brands fa-youtube" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa-brands fa-github" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <hr>
{% endblock %}
