{% extends "layout.html" %}
{% block body %}

    <!--Main Part-->
    <div class="container">
        <h1>About this Project</h1>
        <p>This project is an implementation of CNN. Mobilenet.V2 pretrained model is used to train datasets. 
            Datasets are taken from Kaggle and are not big enough, so that the accuracy will be less in the real-world scenario.
            However, our training and testing accuracy were good enough to deploy. You can check the code on GitHub. 
            Dip kor Emon does the front end of this website, and the back end, model training, and deployment are done by Shuvo Saha Roy.
    </div>
    
{% endblock %}
