{% extends "layout.html" %}
{% block body %}

    <!--Main Part-->

    <div id="about_card">
        <div class="container">
            <div class="card">
                <div class="content">
                    <div class="imgBx">
                        <img src="{{url_for('static', filename = 'images/shuvo.jpg')}}" alt="">
                    </div>
                    <div class="contentBx">
                        <h4>Shuvo Saha Roy</h4>
                        <h5>Machine Learning Engineer</h5>
                    </div>
                    <div class="sci">
                        <a href="https://facebook.com/ssroy548"><i class="fa-brands fa-facebook" aria-hidden="true"></i></a>
                        <a href="https://www.instagram.com/sshuvo548/"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
                        <a href="https://linkedin.com/in/shuvosaharoy"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a>
                        <a href="https://github.com/ShuvoSahaRoy"><i class="fa-brands fa-github" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <div class="imgBx">
                        <img src="{{url_for('static',filename = 'images/emon.jpg')}}" alt="">
                    </div>
                    <div class="contentBx">
                        <h4>Dip kor Imon</h4>
                        <h5>Web Developer</h5>
                    </div>
                    <div class="sci">
                        <a href="https://www.facebook.com/dipkorimon/"><i class="fa-brands fa-facebook" aria-hidden="true"></i></a>
                        <a href="https://www.linkedin.com/in/dipkorimon/"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a>
                        <a href="https://github.com/dipkorimon"><i class="fa-brands fa-github" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
